@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px rgba(75, 73, 73, 0.3);
}

html, body {
  overflow: hidden; 
  height: 100%;
}

body {
  background-image: url('./assests/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px; 
}

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
  color: white;
}

.navbar-brand {
  margin-right: 20px;
  color: white !important;
  font-family: "Delius", serif;
  font-size: 1.5rem;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

#clues-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.clue-img {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


#link-btn {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
}


@media (max-width: 768px) {
  #clues-images {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  #clues-images {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.delius-regular {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}